<!--
  Generated template for the PlanTripsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>plan-trips</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-content id="map_canvas">

    </ion-card-content>
  </ion-card>
</ion-content>
