
<ion-header>
  <ion-navbar color="secondary">
    <button ion-button (click)="navigateToAbout()" color="secondary" class="abt_btn">About</button>
    <ion-title class ="title">Pothole Detector</ion-title>


  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card class="card">
    <img src="assets/imgs/pothole.jpg">
    <p class="warn">Warns about potholes ahead</p>
    <br>
    <button ion-button (click)="navigateToPotholeLogic()" block color="dark" outline>RECORD A TRIP</button>
    <br>
    <button ion-button (click)="navigateToViewTrips()" block color="dark" outline>VIEW MY TRIPS</button>
    <br>
    <button ion-button (click)="navigateToPlanTrips()" block color="dark" outline>PLAN A TRIP</button>

  </ion-card>
</ion-content>