page-home {
  .abt_btn {
    position: relative;
    float: right;
  }
  .title{
    font-family: "Segoe UI", "Noto Sans", sans-serif;

  }
    .card {
      position: relative;
      text-align: center;
    }
    .img {
      position: relative;
      width: 320px;
      height: 320px;

    }
    .warn {
      position: relative;
      text-align: center;
      font-size: 20px;
      font-family: "Segoe UI", "Noto Sans", sans-serif;
      color: #405d5d;
    }

}