<!--
  Generated template for the PotholeLogicPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Piothole Logic</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-content>
    <ion-card-header>
      <ion-card-title>Device Motion</ion-card-title>
    </ion-card-header>
      <p> x-axis : {{acc.x}}</p>
      <p>y-axis : {{acc.y}}</p>
      <p>z-axis: {{acc.z}}</p>
      <p>timestamp: {{acc.timestamp}}</p>
      <br>
      <p>Latitude: {{loc.coords.latitude}}</p>
      <p>Longitude: {{loc.coords.longitude}}</p>
      <br>

    </ion-card-content>
  </ion-card>
</ion-content>
