<!--
  Generated template for the ViewTripsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>view-trips</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div style="height: 100%;" #map_canvas id="map_canvas"></div>
</ion-content>
